<%- include('../_partial/_header') %>
<div>
    text-align: center;
    <h1>Welcome to Parx</h1>
    <h2>A new way to find a spot for wherever you need to be.</h2>
</div>

<%- include('../_partial/_footer') %>
